@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  -mox-box-sizing: border-box;
  -webit-box-sizing: border-box;
}

body {
  font-family: 'Montserrat','微軟正黑體';
  font-size: 16px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

header {
  padding-top: 270px;
  min-height: 100%;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-size: 200px 315px;
  width: 230px;
  z-index: 9999;
  position: fixed;
  overflow: hidden;
  text-align: center;
  left: -230px;
  -webkit-transition: all .5s sease-in-out;
  -moz-transition: all .5s sease-in-out;
  transition: all .5s ease-in-out;
}
header.active {
  left: 0;
}
@media (max-width: 568px) {
  header {
    padding-top: 130px;
  }
}
header #header-menu {
  margin-bottom: 50px;
}
header #header-menu li {
  overflow: hidden;
}
header #header-menu a {
  color: gray;
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  height: 70px;
  padding: 25px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  top: 0;
}
header #header-menu a:hover {
  color: #fff;
  top: -70px;
}
header #header-menu a:before {
  content: attr(data-title);
  display: block;
  height: 70px;
}
header .social-link {
  margin: 50px 0;
}
header .social-link li {
  display: inline-block;
}
header .social-link a {
  padding: 20px;
  color: gray;
  display: block;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
header .social-link a:hover {
  color: #fff;
}
header .copyright {
  color: gray;
  line-height: 1.5em;
  position: absolute;
  bottom: 0;
  margin: 10px 0;
}

#nav-toggle {
  cursor: pointer;
  padding: 20px 15px;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10000;
}
#nav-toggle .icon-bar {
  margin-bottom: 4px;
  background-color: #fff;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  position: relative;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
#nav-toggle.active {
  background: black;
}
#nav-toggle.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg);
}
#nav-toggle.active .icon-bar:nth-of-type(2) {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
#nav-toggle.active .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg);
}

.full-content {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
}
.full-content.active {
  left: 230px;
}

.aboutField, .mySkill, .myCase, .contact {
  background-attachment: fixed;
}

.container-inner-field {
  height: auto;
}

@media (max-width: 768px) {
  .mySkill .fp-tableCell, .contact .fp-tableCell {
    display: block;
  }
}
.section-header {
  text-align: center;
  margin: 30px 0;
}
.section-header.dark-section {
  color: #fff;
}
.section-header h1 {
  font-size: 40px;
  font-weight: bold;
}
.section-header h1 span {
  font-size: 26px;
  font-weight: normal;
}

.keyVision {
  background-image: url(../img/background-index.jpg);
  background-size: cover;
}

.banner-wrapper {
  color: #fff;
}
.banner-wrapper .banner-content {
  margin: 3%;
  text-align: center;
}
.banner-wrapper .banner-content h1 {
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
@media (max-width: 568px) {
  .banner-wrapper .banner-content h1 {
    font-size: 15vw;
  }
}
.banner-wrapper .banner-content p {
  min-height: 150px;
  font-size: 3vw;
  font-weight: 200;
}
@media (max-width: 568px) {
  .banner-wrapper .banner-content p {
    font-size: 10vw;
  }
}
.banner-wrapper #banner-source {
  display: none;
}

.aboutField, .myCase {
  background-image: url(../img/light-background.jpg);
}

.about-content {
  margin-bottom: 30px;
}
.about-content .about-photo {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  padding: 1%;
}
@media only screen and (min-width: 750px) {
  .about-content .about-photo {
    width: 33.33333%;
  }
}
.about-content .about-photo img {
  border-radius: 50%;
  border: 10px solid #fff;
  max-width: 15vw;
  margin: 10px auto;
  display: block;
}
@media (max-width: 768px) {
  .about-content .about-photo img {
    max-width: 65vw;
  }
}
.about-content .about-des {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  padding: 1%;
}
@media only screen and (min-width: 750px) {
  .about-content .about-des {
    width: 66.66667%;
  }
}
.about-content .about-des h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0.75em;
}
.about-content .about-des > p {
  line-height: 2em;
  margin-bottom: 1.5em;
}
.about-content .about-des .tag-cloud p {
  margin-bottom: 15px;
}
.about-content .about-des .tag-cloud a {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #292929;
  color: #fff;
  padding: 10px 15px;
}

.about-timeline {
  position: relative;
  line-height: 1.5em;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  .about-timeline {
    margin: 5%;
    padding: 0;
  }
}
.about-timeline:before {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  width: 3px;
  height: 100%;
  background: #292929;
}
@media (max-width: 768px) {
  .about-timeline:before {
    left: 0;
  }
}
.about-timeline:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.about-timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.about-timeline .timeline-item:after, .about-timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.timeline-icon {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 41px;
  margin-left: -18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #292929;
  overflow: hidden;
}
.timeline-icon i {
  position: relative;
  top: 10px;
  left: 10px;
  color: #fff;
}
@media (max-width: 768px) {
  .timeline-icon {
    left: 0;
  }
}

.timeline-content {
  width: 45%;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .timeline-content {
    width: 90%;
    float: right;
  }
}
.timeline-content:before {
  position: absolute;
  top: 15px;
  left: 45%;
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #292929;
}
@media (max-width: 768px) {
  .timeline-content:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #292929;
  }
}
.timeline-content h4 {
  padding: 10px;
  margin: -10px -10px 5px -10px;
  font-weight: 500;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background: #292929;
  color: #fff;
}
.timeline-content p {
  margin-top: 5px;
}
.timeline-content a {
  color: #000;
  transition: all .3s;
  font-weight: 1000;
  text-decoration: underline;
  color: #5c5c5c;
}
.timeline-content a:hover {
  color: #292929;
}
.timeline-content.right {
  float: right;
}
.timeline-content.right:before {
  right: 45%;
  left: inherit;
  content: '';
  border-left: 0;
  border-right: 7px solid #292929;
}
@media (max-width: 768px) {
  .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #292929;
  }
}

.mySkill {
  background-image: url(../img/background-skill.jpg);
  background-size: cover;
}

.skill-wrapper {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 25px;
  margin: 15px 0;
}
.skill-wrapper .skill-content {
  width: 33.33333%;
  float: left;
}
@media (max-width: 768px) {
  .skill-wrapper .skill-content {
    width: 48%;
  }
}
@media (max-width: 568px) {
  .skill-wrapper .skill-content {
    width: 98%;
    float: none;
    display: block;
  }
}

.case-wrapper {
  margin: 15px 0;
}

.case-content {
  width: 31.33333%;
  margin: 1%;
  min-height: 250px;
  float: left;
}
.case-content h3 {
  color: #292929;
  display: none;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}
.case-content .case-box {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.case-content .case-box:hover .content-overlay {
  opacity: 1;
}
.case-content .case-box:hover .case-des {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.case-content .case-box .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.case-content .case-box .case-des {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 80%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.case-content .case-box .case-des h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.case-content .case-box .case-des p {
  color: #fff;
  font-size: 0.8em;
}
.case-content .case-box.fadeIn-bottom {
  top: 80%;
}
@media (max-width: 768px) {
  .case-content {
    width: 48%;
  }
}
@media (max-width: 568px) {
  .case-content {
    width: 98%;
    min-height: 230px;
  }
  .case-content h3 {
    display: block;
  }
}

.contact {
  background-image: url(../img/background-contact.jpg);
  background-size: cover;
}

.contact-wrapper {
  margin: 15px 0;
}

.contact-content {
  border-radius: 5px;
  width: 31.33333%;
  min-height: 300px;
  padding: 50px 10px;
  margin: 1%;
  float: left;
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
}
.contact-content .contact-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 100px;
  text-align: center;
  border: 3px solid #262626;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.contact-content .contact-icon:hover {
  color: #fff;
  background: #262626;
}
.contact-content .contact-des {
  padding: 10px;
}
.contact-content .contact-des h4 {
  font-size: 24px;
  line-height: 2em;
}
.contact-content .contact-des a:hover {
  color: #ccc;
}
@media (max-width: 568px) {
  .contact-content {
    width: 98%;
    float: none;
    display: block;
    min-height: 0;
    margin: 2% 1%;
  }
}
