@import "reset";
@import "grid";
@import "var";
@import "mixin";

body {
	font-family: 'Montserrat','微軟正黑體';
	font-size: $base-font-size;
}

.container {
    max-width: $width;
    padding: 0 15px;
    margin: 0 auto;
    @include clearfix;
}

.img-responsive {
	@include img-responsive;
}

header {
	padding-top: 270px;
	min-height: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    background-size: 200px 315px;
    width: 230px;
    z-index: 9999;
    position: fixed;
    overflow: hidden;
    text-align: center;
    left: -230px;
    -webkit-transition: all .5s sease-in-out;
    -moz-transition: all .5s sease-in-out;
    transition: all .5s ease-in-out;
	&.active {
		left: 0;
	}
	@include mobile {
		padding-top: 130px;
	}
	#header-menu {
		margin-bottom: 50px;
		li {
			overflow: hidden;
		}
		a {
			color: darken($white, 50%);
			display: block;
			position: relative;
			font-size: 20px;
			line-height: 24px;
			height: 70px;
			padding: 25px;
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
			transition: all .5s;
			top: 0;	
			&:hover {
				color: $white;
				top: -70px;
			}
			&:before {
				content:attr(data-title);
				display:block;
				height: 70px;
			}
		}
	}
	.social-link {
		margin: 50px 0;
		li {
			display: inline-block;
		}
		a {
			padding: 20px;
			color: darken($white, 50%);
			display: block;
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
			transition: all .5s;
			&:hover{
				color: $white;
			}
		}
	}
	.copyright {
		color: darken($white, 50%);
		line-height: 1.5em;
		position: absolute;
		bottom: 0;
		margin: 10px 0;
	}
}

#nav-toggle {
	cursor: pointer;
	padding: 20px 15px;
	left: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10000;
	
	.icon-bar {
		margin-bottom: 4px;
		background-color: $white;
		display: block;
	    width: 22px;
	    height: 2px;
	    border-radius: 1px;
		position: relative;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}
	&.active {
		background: rgba(0, 0, 0, 1);
		.icon-bar {
			&:nth-of-type(1) {
				top: 6px;
				transform: rotate(45deg);
			}
			&:nth-of-type(2) {
				opacity: 0;
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
			}
			&:nth-of-type(3) {
				top: -6px;
				transform: rotate(-45deg);
			}
		}
	}
}

.full-content {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	position: fixed;
	&.active {
		left: 230px;
	}
}

.aboutField, .mySkill, .myCase, .contact {
	background-attachment: fixed;
}

.container-inner-field {
	height: auto;
}

@include pad {
	.mySkill, .contact {
		.fp-tableCell {
			display: block;
		}
		
	}
}

.section-header {
	text-align: center;
	margin: 30px 0;
	&.dark-section {
		color: $white;
	}
	h1 {
		font-size: $h1-font-size;
		font-weight: bold;
		span {
			font-size: 26px;
			font-weight: normal;
		}
	}
}

.keyVision {
	background-image: url(../img/background-index.jpg);
	background-size: cover;
}

.banner-wrapper {
	color: $white;
	.banner-content {
		margin: 3%;
		text-align: center;
		h1 {
			font-size: 5em;
			font-weight: bold;
			margin-bottom: 0.5em;
			@include mobile {
				font-size: 15vw;
			}
		}
		p {
			min-height: 150px;
			font-size: 3vw;
			font-weight: 200;
			@include mobile {
				font-size: 10vw;
			}
		}
	}
	#banner-source {
		display: none;
	}
}

.aboutField, .myCase {
	background-image: url(../img/light-background.jpg);
}

.about-content {
	.about-photo {
		@include col(4,12);
		float: left;
		padding: 1%;
		img {
			border-radius: 50%;
			border: 10px solid #fff;
			max-width: 15vw;
			margin: 10px auto;
			display: block;
			@include pad {
				max-width: 65vw;
			}
		}
	}
	.about-des {
		@include col(8,12);
		float: left;
		padding: 1%;
		h3 {
			font-size: $h3-font-size;
			font-weight: bold;
			margin-bottom: 0.75em;
		}
		p {
			line-height: 2em;
			margin-bottom: 1.5em;
		}
	}
}

.mySkill {
	background-image: url(../img/background-skill.jpg);
	background-size: cover;
}

.skill-wrapper {
	background: rgba(255, 255, 255, 0.85);
	border-radius: 10px;
	padding: 25px;
	margin: 15px 0;
	.skill-content {
		width: 33.33333%;
		float: left;
		@include pad {
			width: 48%;
		}
		@include mobile {
			width: 98%;
			float: none;
			display: block;
		}
	}
}

.case-content {
	width: 31.33333%;
	margin: 1%;
	float: left;
	.case-box {
		position: relative;
		margin: auto;
		overflow: hidden;
		&:hover {
			.content-overlay {
				opacity: 1;
			}
			.case-des {
				top: 50%;
				left: 50%;
				opacity: 1;
			}	
		}
		.content-overlay {
			background: rgba(0,0,0,0.7);
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			opacity: 0;
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
			transition: all .5s;
		}
		.case-des {
			position: absolute;
			text-align: center;
			padding-left: 1em;
			padding-right: 1em;
			width: 100%;
			top: 80%;
			left: 50%;
			opacity: 0;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-webkit-transition: all 0.3s ease-in-out 0s;
			-moz-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
			h4 {
				font-size: 20px;
				font-weight: bold;
				color: #fff;
				letter-spacing: 0.15em;
				margin-bottom: 0.5em;
				text-transform: uppercase;
			}
			p {
				color: #fff;
				font-size: 0.8em;
			}
		}
		&.fadeIn-bottom{
			top: 80%;
		}
	}
	@include pad {	
		width: 48%;
	}
}

.contact {
	background-image: url(../img/background-contact.jpg);
	background-size: cover;
}

.contact-content {
	border-radius: 5px;
	width: 31.33333%;
	min-height: 300px;
	padding: 50px 10px;
	margin: 1%;
	float: left;
	position: relative;
	text-align: center;
	background: rgba(255, 255, 255, 0.85);
	.contact-icon {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		margin: 0 auto;
		margin-bottom: 30px;
		line-height: 100px;
		text-align: center;
		border: 3px solid darken($white, 85%);
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
		&:hover {
			color: $white;
			background: darken($white, 85%);
		}
	}
	.contact-des {
		padding: 10px;
		h4 {
			font-size: $h4-font-size;
			line-height: 2em;
		}
		a:hover {
			color: #ccc;
		}
	}
	@include mobile {
		width: 98%;
		float: none;
		display: block;
		min-height: 0;
		margin: 1%;
	}
}